/target/
/.bsp/
/.idea/
target/*
/project/target/*
project/project
project/project/*
/out/*
build.properties
/ot-eco-rsa
/ot-eco-rsa.pub
/ot-eco-rsa-cluster
/ot-eco-rsa-cluster.pub
/src/main/resources/data/most_popular_starting_areas_jan_25_2018/
