*iml
stale_outputs_checked
/target/
/.bsp/
target/*
/project/target/*
project/project
project/project/*

hdfs/*

/out/*
build.properties

/ot-eco-rsa
/ot-eco-rsa.pub
/ot-eco-rsa-cluster
/ot-eco-rsa-cluster.pub

*pyc
*dat
tech_tags.csv
**/.env/*
**/env

.DS_Store
node_modules
src/main/webapp/app/dist/
yarn.lock

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
