version: '3'

services:
  postgres:
    restart: always
    image: postgres:latest
    container_name: postgres
    environment:
      - "TZ=Europe/Berlin"
      - "POSTGRES_USER=otus"
      - "POSTGRES_PASSWORD=otus"
      - "POSTGRES_DATABASE=otus"
    ports:
      - "5432:5432"
    volumes:
      - "database_data:/var/lib/postgresql/data"
      - "./sql/0_schema.sql:/docker-entrypoint-initdb.d/0_schema.sql"
  spark-master:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
  spark-worker-1:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"

volumes:
  database_data:
    driver: local
